.menu-tab {
    justify-items: center;
    background-color: rgb(7, 1, 65);
}


.menu-tab div {
    margin: 20px;
}


.menu-tab span {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}

.menu-tab ion-icon {
    margin-right: 10px;
}

.menu-tab span:hover {
    background-color: rgb(149, 190, 243);
    color: black;
}

.content {

    background-color: #f1f1f1;
}