    <div class="breadcrumb">
        <a href="/">Trang chủ</a>
        <span>&gt;</span>
        <a href="#" class="active">Giỏ hàng</a>
    </div>

<section class="cartPage">
    <div class="grid wide">
        <div class="row">
            
            <!-- Begin cart-item -->
            <div class="col l-8 m-12 c-12 cart">
                <div class="row cart-head">
                    <div class="cart-head__title ">
                        <h1>Giỏ hàng của bạn</h1>
                    </div>
                </div>
                <div class="cart__list-items">
                    <hr size="1">  
                    <div class="row cart-item">
                    </div>
                    <hr size="1"> 
                </div>

            </div>
            <!-- End cart-item -->

            <div class="col l-4 m-12 c-12 order">
                <div class="row no-gutters order__title">
                    <h1>Tổng hóa đơn</h1>
                </div>

                <hr size="1">

                <div class="row order__detail">
                    <div class="col l-8 order__detail__quantity"></div>
                    <div class="col l-4 "></div>
                </div>
                <div class="row no-gutters">
                    <div class="order__shipp">
                        <h2>Phương thức vận chuyển</h2>
                        <select name="shippingSelect" id="">
                            <option value="">Giao hàng tiết kiệm</option>
                            <option value="">Giao hàng nhanh</option>
                            <option value="">Giao hàng hỏa tốc</option>
                        </select>
                    </div>
                </div>
                
                <hr size="1">

                <div class="row order__total">
                    <div class="col l-8 ">
                        <h1>Tổng giá trị đơn hàng:</h1>
                    </div>
                    <div class="col l-4 totalPrice"></div>
                </div>
                <div class="row no-gutters order__checkout">
                    <button id="pay" onclick="checkout(this)">Thanh toán</button>
                </div>
            </div>
        </div>
    </div>
</section>
