<div class="grid wide">
  <div class="row checkoutPage">
    <div class="col l-6 returnCart">
        <a href="/"> Tiếp tục mua sắm </a>
        <h1>Danh sách sản phẩm</h1>
        <div class="items">
          <div class="item">
            <img src="/image/baner-1.jpg" alt="">
            <div class="item__info">
              <div class="item__info__name">  Product 1</div>
              <div class="item__info__price"> 10.000D</div>
            </div>
            <div class="item__quantity">123</div>
            <div class="item__returnPrice">$20</div>
          </div>
        </div>
    </div>

    <div class="col l-6 checkout">
        <h1>Checkout</h1>
        <form action="">
          <div class="group">
            <label for="fullName" >Họ và tên</label>
            <input type="text" name="fullName">
          </div>
          <div class="group">
            <label for="phone" >Số điện thoại</label>
            <input type="text" name="phone">
          </div>
          <div class="group">
            <label for="address" >Địa chỉ</label>
            <input type="text" name="address">
          </div>
          <div class="group">
            <label for="" ></label>
            <select name="" id="">
              <option value="">TP.HCM</option>   
              <option value="">Hải Phòng</option>           
            </select>
          </div>
          <div class="group">
            <label for="" ></label>
            <select name="" id="">
              <option value="">Bình Chánh</option>   
              <option value="">Thủ Đức</option>           
            </select>
          </div>
        </form>
        <div class="total">
          <div class="total-inner">
            <h2>Số lượng:</h2>
            <div class="totalQuantity"></div>
          </div>
          <div class="total-inner">
            <h2>Tổng tiền:</h2>
            <div class="totalPrice"></div>
          </div>
          <button class="buttonCheckout">
            CHECKOUT
          </button>
        </div>

        
    </div>
    
  </div>
</div>


<script>
  let listCart = [];
function checkCart(){
        var cookieValue = document.cookie
        .split('; ')
        .find(row => row.startsWith('listCart='));
        if(cookieValue){
            listCart = JSON.parse(cookieValue.split('=')[1]);
        }
}
checkCart();
addCartToHTML();
function addCartToHTML(){
    // clear data default
    let listCartHTML = document.querySelector('.returnCart .items');
    listCartHTML.innerHTML ='';

    let totalQuantityHTML = document.querySelector('.totalQuantity');
    let totalPriceHTML = document.querySelector('.totalPrice');
    let totalQuantity = 0;
    let totalPrice = 0;
    // if has product in Cart
    if(listCart){
        listCart.forEach(product => {
            if(product){
                let newCart = document.createElement('div');
                newCart.classList.add('item');
                newCart.innerHTML = 
                    `<img src="${product.image[0]}" alt="">
                      <div class="item__info">
                        <div class="item__info__name"> ${product.name}</div>
                        <div class="item__info__price"> $${product.price}</div>
                      </div>
                      <div class="item__quantity">${product.quantity}</div>
                      <div class="item__returnPrice">$${product.price * product.quantity}</div>`;
                listCartHTML.appendChild(newCart);
                totalQuantity = totalQuantity + product.quantity;
                totalPrice = totalPrice + (product.price * product.quantity);
            }
        })
    }
    totalQuantityHTML.innerText = totalQuantity;
    totalPriceHTML.innerText = '$' + totalPrice;
}
</script>