<div class="grid wide" style="background-color: burlywood;">
    <h1>Đây là trang home page</h1>
    <h2>Thêm 1 silder chiếu các banner giống homepage pnj</h2>
</div>

<div>
    sad
        {{#each item}}
            <h1>    
                sd    
                {{this.name}},{{this.price}}
            </h1>
        {{/each}}
    
</div>