<h1> slider thêm sau </h1>    

<div class="grid wide">
    <div class="row">
        <div class="col l-3 m-4 c-6">
            <div class="component-product">
                <div class="component-product__image">
                    <a href="">
                        <img src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/192/sp-gn00ddw006275-vo-nhan-kim-cuong-vang-trang-18k-pnj-1.png" alt="">
                    </a>
                </div>

                <div class="component-product__title">
                    <a href="">
                        <span>Bánh zzzzzzzzzzzzzzzzzzzzzzzzzzz</span>
                    </a>
                </div>

                <div class="component-product__price"></div>
            </div>
        </div>                  
        
        <div class="col l-3 m-4 c-6">
            <div class="component-product">
                <div class="component-product__image">
                    <a href="">
                        <img src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/192/sp-gn00ddw006275-vo-nhan-kim-cuong-vang-trang-18k-pnj-1.png" alt="">
                    </a>
                </div>

                <div class="component-product__title">
                    <a href="">
                        <span>Bánh zzzzzzzzzzzzzzzzzzzzzzzzzzz</span>
                    </a>
                </div>

                <div class="component-product__price">60.000đ</div>
            </div>
        </div>  
        <div class="col l-3 m-4 c-6">
            <div class="component-product">
                <div class="component-product__image">
                    <a href="">
                        <img src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/192/sp-gn00ddw006275-vo-nhan-kim-cuong-vang-trang-18k-pnj-1.png" alt="">
                    </a>
                </div>

                <div class="component-product__title">
                    <a href="">
                        <span>Bánh zzzzzzzzzzzzzzzzzzzzzzzzzzz</span>
                    </a>
                </div>

                <div class="component-product__price">60.000đ</div>
            </div>
        </div>  
        <div class="col l-3 m-4 c-6">
            <div class="component-product">
                <div class="component-product__image">
                    <a href="">
                        <img src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/192/sp-gn00ddw006275-vo-nhan-kim-cuong-vang-trang-18k-pnj-1.png" alt="">
                    </a>
                </div>

                <div class="component-product__title">
                    <a href="">
                        <span>Bánh zzzzzzzzzzzzzzzzzzzzzzzzzzz</span>
                    </a>
                </div>

                <div class="component-product__price">60.000đ</div>
            </div>
        </div>  
    </div>
</div>