<div class="grid wide" style="background-color: burlywood;">
    <h1>Đây là trang home page</h1>
    <h2>Thêm 1 silder chiếu các banner giống homepage pnj</h2>
    <h3>Hiển thị List tất cả sản phấm</h3>
</div>