
<div class="slider" >
    
    <ul class="slider-dots">
        <li class="slider-dot"></li>
        <li class="slider-dot"></li>
        <li class="slider-dot"></li>
        <li class="slider-dot"></li>
    </ul>
    <div class="slider-wrapper">
        <div class="slider-main">
            <div class="slider-item"> 
                <img src="/image/baner-1.jpg" alt="">
            </div>
            <div class="slider-item">
                <img src="/image/baner-2.jpg" alt="">
            </div>
            <div class="slider-item">
                <img src="/image/baner-3.jpg" alt="">
            </div>
            <div class="slider-item">
                <img src="/image/baner-1.jpg" alt="">
            </div>
        </div>
    </div>
    <img class="slider-next" src="/image/next.png" alt="">
    <img class="slider-prev" src="/image/prev.png" alt="">
</div>

<div class="banner" >
    
    <div class="banner-item"> 
        <img src="/image/banner.jpg" alt="">
    </div>
    <div class="banner-item">
        <img src="/image/banner-1.png" alt="">
    </div>
    <div class="banner-item">
        <img src="/image/banner.jpg" alt="">
    </div>
    
</div>

<div class="grid wide">
    <div class="row">
        <div class="col l-3 m-4 c-6">
            <div class="component-product">
                <div class="component-product__image">
                    <a href="">
                        <img src="https://lili.vn/wp-content/uploads/2021/12/Day-chuyen-bac-nu-phong-cach-co-trang-CZ-LILI_831944_1.jpg" alt="">
                        <img src="https://lili.vn/wp-content/uploads/2021/12/Day-chuyen-bac-nu-phong-cach-co-trang-CZ-LILI_831944_2.jpg" alt="">
                    </a>
                </div>

                <div class="component-product__title">
                    <a href="">
                        <span>Dây chuyền chữ thập banshee</span>
                    </a>
                </div>

                <div class="component-product__price">60.00đ</div>
            </div>
        </div>                  
        
        <div class="col l-3 m-4 c-6">
            <div class="component-product">
                <div class="component-product__image">
                    <a href="">
                        <img src="https://lili.vn/wp-content/uploads/2021/12/Day-chuyen-bac-nu-phong-cach-co-trang-CZ-LILI_831944_1.jpg" alt="">
                        <img src="https://lili.vn/wp-content/uploads/2021/12/Day-chuyen-bac-nu-phong-cach-co-trang-CZ-LILI_831944_2.jpg" alt="">
                    </a>
                </div>

                <div class="component-product__title">
                    <a href="">
                        <span>Dây chuyền chữ thập banshee</span>
                    </a>
                </div>

                <div class="component-product__price">60.00đ</div>
            </div>
        </div>   

        <div class="col l-3 m-4 c-6">
            <div class="component-product">
                <div class="component-product__image">
                    <a href="">
                        <img src="https://lili.vn/wp-content/uploads/2021/12/Day-chuyen-bac-nu-phong-cach-co-trang-CZ-LILI_831944_1.jpg" alt="">
                        <img src="https://lili.vn/wp-content/uploads/2021/12/Day-chuyen-bac-nu-phong-cach-co-trang-CZ-LILI_831944_2.jpg" alt="">
                    </a>
                </div>

                <div class="component-product__title">
                    <a href="">
                        <span>Dây chuyền chữ thập banshee</span>
                    </a>
                </div>

                <div class="component-product__price">60.00đ</div>
            </div>
        </div>   

        <div class="col l-3 m-4 c-6">
            <div class="component-product">
                <div class="component-product__image">
                    <a href="">
                        <img src="https://lili.vn/wp-content/uploads/2021/12/Day-chuyen-bac-nu-phong-cach-co-trang-CZ-LILI_831944_1.jpg" alt="">
                        <img src="https://lili.vn/wp-content/uploads/2021/12/Day-chuyen-bac-nu-phong-cach-co-trang-CZ-LILI_831944_2.jpg" alt="">
                    </a>
                </div>

                <div class="component-product__title">
                    <a href="">
                        <span>Dây chuyền chữ thập banshee</span>
                    </a>
                </div>

                <div class="component-product__price">60.00đ</div>
            </div>
        </div> 
    </div>
</div>

<script>
    window.addEventListener("load", function () {
        const slider =document.querySelector('.slider');
        const sliderMain =document.querySelector('.slider-main');
        const sliderItems =document.querySelectorAll('.slider-item');
        const nextBtn =document.querySelector('.slider-next');
        const prevBtn =document.querySelector('.slider-prev');
        const dotItem =document.querySelectorAll('.slider-dot');
        const sliderItemWidth = sliderItems[0].offsetWidth;
        const slidesLength =sliderItems.length;

        let index =1;
        let positionX = 0;
        
        
        nextBtn.addEventListener("click", function () {
            handlleChangeSlide(1);
        });

        prevBtn.addEventListener("click", function () {
            handlleChangeSlide(-1);
        });

        function handlleChangeSlide(direction) {
            if(direction === 1) {
                index++;
                if(index >= slidesLength) {
                    index = slidesLength;
                    return;
                }
               
                positionX = positionX - sliderItemWidth;
                sliderMain.style.transform = `translateX(${positionX}px)`;
                
            } else if(direction === -1) {
                index--;
                if(index <= 0 ) {
                    index = 0;
                    return;
                }

                positionX = positionX + sliderItemWidth;
                sliderMain.style.transform = `translateX(${positionX}px)`;
            }
        }
    });
</script>