
 <div class="container">
    <div class="header">
      <h1>Thông báo đặt hàng thành công</h1>
    </div>
    <div class="content">
      <p>Cảm ơn bạn đã đặt hàng tại cửa hàng của chúng tôi.</p>
      <p>Đơn hàng của bạn sẽ được xử lý trong vòng 24 giờ.</p>
      <p>Bạn sẽ nhận được email xác nhận khi đơn hàng của bạn được giao.</p>
    </div>
    <div class="footer">
      <a href="/">Tiếp tục mua sắm</a>
    </div>
</div>
