<footer>
        <div class="footer-slash"></div>
        <div class="row no-gutters">
            <div class="col l-2" id="footer-logo">
                <a href="#">
                    <img src="/image/logo.png" alt="Logo">
                </a>
            </div>
        </div>
        <section class="information">
            <div class="row no-gutters">
                <div class="col l-3">
                    <h6>© Công Ty Cổ Phần Vàng Bạc Đá Quý</h6>
                    <p></p>
                </div>
                <div class="col l-2">
                    <h6>Về chúng tôi</h6>
                    <p><a href="#!">Thành lập</a></p>
                    <p><a href="#!">Mục tiêu</a></p>
                </div>
                <div class="col l-3">
                    <h6>Dịch vụ khách hàng</h6>
                    <p><a href="#!">Hướng dẫn đo size trang sức</a></p>
                    <p><a href="#!">Mua hàng trả góp</a></p>
                    <p><a href="#!">Hướng dẫn mua hàng và thanh toán</a></p>
                    <p><a href="#!">Chính sách hoàn tiền</a></p>
                    <p><a href="#!">Chính sách giao hàng</a></p>
                    <p><a href="#!">Cẩm nang sử dụng trang sức</a></p>
                    <p><a href="#!">Chính sách bảo hành thu đổi</a></p>
                    <p><a href="#!">Chính sách khách hàng thân thiết</a></p>
                    <p><a href="#!">Chính sách bảo mật thông tin khách hàng</a></p>
                    <p><a href="#!">Chính sách xử lý dữ liệu cá nhân</a></p>
                    <p><a href="#!">Câu hỏi thường gặp</a></p>
                </div>
                <div class="col l-3">
                    <h6>Kết nối với chúng tôi</h6>
                    <div class="social-media">
                        <a href="#" class="logo">
                            <img src="/image/facebook.svg" alt="Facebook logo">
                        </a>
                        <a href="#" class="logo">
                            <img src="/image/youtube.svg" alt="Youtube logo">
                        </a>
                        <a href="#" class="logo">
                            <img src="/image/zalo.svg" alt="Zalo logo">
                        </a>
                        <a href="#" class="logo">
                            <img src="/image/instagram.svg" alt="Instagram logo">
                        </a>
                        <a href="#" class="logo">
                            <img src="/image/twitter.svg" alt="Twitter logo">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </footer>