
    <header>
        <div class="container">
            <div class="header-top">
                <div class="row no-gutters">
                    <div class="col l-2">
                        <ul>
                            <li><a href="/aboutus.html">Về cửa hàng</a></li>
                            <li><a href="tel:+1800">1800</a></li>
                        </ul>
                    </div>
                    <div class="col l-6" id="header-brand">
                        <a href="#">
                            <img src="/image/logo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="col l-2" id="header-right">
                        <ul>
                            <li><a href="#">Giỏ hàng</a></li>
                            <li><a href="#">Tài khoản</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="navbar">
            <div class="header-menu">
                <div class="row no-gutters">
                    <div class="col l-8">
                        <ul>
                            <li><a href="#">Trang sức</a></li>
                            <li><a href="#">Quà tặng</a></li>
                            <li><a href="#">Kim cương viên</a></li>
                            <li><a href="#">Trang sức ngọc trai</a></li>
                            <li><a href="#">Thương hiệu</a></li>
                        </ul>
                    </div>
                    <div class="col l-3">
                        <div class="search-block">
                            <form action="">
                                <input type="text" name="hint_keyword" value="" id="search_input" placeholder="Tìm kiếm nhanh" autocomplete="off">
                                <button type="submit">Tìm kiếm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
