<div class="grid wide">
    <div class="register_row">
            <div class="register_title">
                <h2>Đăng kí tài khoản mới</h2>
            </div>

            <div class="login_input">
                <input type="text" placeholder="Nhập tên đăng nhập">
            </div>

            <div class="password_input">
                <input type="password" placeholder="Mật khẩu">
            </div>
            
            <div class="password_retype">
                <input type="password" placeholder="Nhập lại mật khẩu">
            </div>
            </div>

            <div class="confirm">
                <div class="confirm_register">
                    <button>Xác nhận</button>
                </div>
                <div class="cancel_register">
                    <button>Hủy bỏ</button>
                </div>    
            </div>
        </div>
    </div>
    