<div class="loginPage">
    <div class="grid container">
        <div class="row">
            <div class="col l-2">
                <b>ĐĂNG NHẬP</b>
            </div>
        </div>
        <div class="row">
            <div class="col l-2">
                <form id="adminLogin" action="" method="post">
                    <div class="form-group">
                        <label for="username">
                            <div class="form-lft">
                                <b>Tên tài khoản</b>
                                <span>*</span>
                            </div>
                            <input type="text" name="username" id="username" autocomplete="username" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            <div class="form-lft">
                                <b>Mật khẩu</b>
                                <span>*</span>
                            </div>
                            <input type="password" name="pass" id="password" autocomplete="current-password"required>
                        </label>
                    </div>
                    <div class="action">
                        <button type="submit">Đăng nhập</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>