<div class="grid wide container">
    <div class="row">
        <div class="col l-2 m-0 menu-tab">
            <div class="row dashboard">
                <span><ion-icon name="speedometer-outline"></ion-icon>Bảng điều khiển</span>
            </div>
            <div class="row product">
                <span>
                    <ion-icon name="pricetags-outline"></ion-icon>
                    <a href="/admin/products">Sản phẩm</a>
                </span>
            </div>
            <div class="row order">
                <span><ion-icon name="calendar-clear-outline"></ion-icon>
                <a href="/admin/orders">Đơn hàng</a></span>
            </div>
            <div class="row account">
                <span><ion-icon name="people-outline"></ion-icon>
                <a href="/admin/users">Quản lý tài khoản</a></span>
            </div>
        </div>
    </div>
</div>