<div class="loginPage">
    <div class="grid container">
        <div class="row form-login">
            <div class="col l-2 form-container sign-in">
                <form id="accountLogin" action="" method="post">
                    <h1>Đăng nhập</h1>
                    <div class="form-group">
                        <label for="username">
                            <div class="form-lft">
                                <b>Tên tài khoản</b>
                                <span>*</span>
                            </div>
                            <input type="text" name="username" id="username" autocomplete="username" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            <div class="form-lft">
                                <b>Mật khẩu</b>
                                <span>*</span>
                            </div>
                            <input type="password" name="pass" id="password" autocomplete="current-password" required>
                        </label>
                    </div>
                    <div class="action">
                        <button type="submit">Đăng nhập</button>
                    </div>

                </form>

                <div class="toggle-panel toggle-right">
                    <h1>Chưa có tài khoản?</h1>
                    <a href="/register">Đăng ký</a>
                </div>

            </div>
        </div>
    </div>
</div>