<div class="loginPage">
    <div class="grid container">
        <div class="row">
            <div class="col l-2">
                <b>ĐĂNG KÝ</b>
            </div>
        </div>
        <div class="row">
            <div class="col l-2">
                <form id="accountRegister" action="" method="post">
                    <div class="form-group">
                        <label for="fullname">
                            <div class="form-lft">
                                <b>Họ tên</b>
                                <span>*</span>
                            </div>
                            <input type="text" name="fname" id="fname" required placeholder="Ex: Lê Văn A">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="username">
                            <div class="form-lft">
                                <b>Tên tài khoản</b>
                                <span>*</span>
                            </div>
                            <input type="text" name="username" id="username" required placeholder="Ex: levana123">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="phone">
                            <div class="form-lft">
                                <b>Số điện thoại</b>
                            </div>
                            <input type="text" name="phone" id="phone">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            <div class="form-lft">
                                <b>Mật khẩu</b>
                                <span>*</span>
                            </div>
                            <input type="password" name="pass" id="password" required>
                            <small id="passwordHelp" class="form-text text-muted"><em>Mật khẩu gồm 6 kí tự bao gồm chữ và số, có ít nhất một kí tự viết hoa.</em></small>
                        </label>
                    </div>
                    <div class="action">
                        <div class = "row" >
                            <div class="allow">
                                <button type="submit">Đăng ký</button>
                            </div>
                            <div class="cancel">
                                <button type="submit">Hủy bỏ</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>