<div class="loginPage">
    <div class="grid container">

        <div class="row form-register">
            <div class="col l-2 form-container sign-up">
                <form id="accountRegister" action="" method="post">
                    <h1>Đăng ký</h1>
                    <div class="form-group">
                        <label for="fullname">
                            <div class="form-lft">
                                <b>Họ tên</b>
                                <span>*</span>
                            </div>
                            <input type="text" name="fname" id="fname" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="username">
                            <div class="form-lft">
                                <b>Tên tài khoản</b>
                                <span>*</span>
                            </div>
                            <input type="text" name="username" id="username" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="phone">
                            <div class="form-lft">
                                <b>Số điện thoại</b>
                            </div>
                            <input type="text" name="phone" id="phone">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            <div class="form-lft">
                                <b>Mật khẩu</b>
                                <span>*</span>
                            </div>
                            <input type="password" name="pass" id="password" required>
                        </label>
                    </div>
                    <div class="action">
                        <button type="submit">Đăng ký</button>
                    </div>
                </form>
                <div class="toggle-panel toggle-left">
                    <h1>Đã có tài khoản?</h1>
                    <a href="/login">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>