<div class="loginPage">
    <div class="grid container">
        <div class="row">
            <div class="col l-2">
                <b>ĐĂNG KÝ</b>
            </div>
        </div>
        <div class="row">
            <div class="col l-2">
                <form id="accountLogin" action="" method="post">
                    <div class="form-group">
                        <label for="fullname">
                            <div class="form-lft">
                                <b>Họ tên</b>
                                <span>*</span>
                            </div>
                            <input type="text" name="fname" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="email">
                            <div class="form-lft">
                                <b>Email</b>
                                <span>*</span>
                            </div>
                            <input type="email" name="email" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="phone">
                            <div class="form-lft">
                                <b>Số điện thoại</b>
                                <span>*</span>
                            </div>
                            <input type="tel" name="phone" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            <div class="form-lft">
                                <b>Mật khẩu</b>
                                <span>*</span>
                            </div>
                            <input type="password" name="pass" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            <div class="form-lft">
                                <b>Xác nhận mật khẩu</b>
                                <span>*</span>
                            </div>
                            <input type="password" name="pass" required>
                        </label>
                    </div>
                    <div class="action">
                        <button type="submit">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>