.content_product {
    flex-direction: column;
}

.row.product_list_title {
    width: 100%;
}



.content_product_title {
    background-color: #fff;
    margin: 10px;
    border-left: 10px solid rgb(199, 199, 11);
    width: 98%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.content_product_title h2 {
    margin-left: 10px;
    color: rgb(51, 108, 214);
}

.content_product_form {
    background-color: #fff;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.content_product_action {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 20px;
    padding-bottom: 20px;
}

.product_action_add button {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    color: #111;
    font-weight: bold;
    border: none;
    background-color: rgb(61, 221, 109);
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
}

.product_action_add button::before {
    content: '+';
    margin-right: 5px;
    font-size: 30px;
    text-align: center;
}

.product_action_search {
    flex: none;
    border: 2px solid #bebebe;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.product_action_search span {
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
}

.product_action_search input {
    border: none;
    border-bottom: 1px solid #bebebe;
    font-size: 16px;
    text-align: center;
    outline: none;
}

.product_action_search button {
    margin-left: 10px;
    font-size: 20px;
    border: none;
}

.product_action_search button:hover {
    font-weight: bold;
    color: green;
    transform: scale(1.2);
    cursor: pointer;
}


.content_product_filter select {
    margin-left: 20px;
    border: none;
    width: 150px;
    font-size: 18px;
    border-bottom: 1px solid #bebebe;
}

.content_product_filter input {
    margin-left: 20px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #bebebe;
}

.content_product_filter button {
    margin-left: 20px;
    width: 80px;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(75, 152, 223);
    border-radius: 10px;
    padding: 10px;
}

.content_product_list {
    padding: 20px;
}



#product_btn_edit:hover {
    transform: scale(1.1);
    background-color: rgb(53, 221, 53);
}



.product_table {
    border-collapse: collapse;
    margin: 25px 0px;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product_table {
    border-collapse: collapse;
    margin: 25px 0px;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.product_table thead tr {
    background-color: rgb(2, 4, 83);
    color: #fff;
    font-weight: bold;
    height: 50px;

}

.product_table th,
.product_table td {
    padding: 8px;
}

.product_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.product_table tbody tr:last-of-type {
    border-bottom: 2px solid #03acca;
}

.product_table tbody tr:hover {
    background-color: #ddddddec;
}

.product_table tbody tr button {
    border-radius: 5px;
}

.product_table tbody tr button:hover {
    background-color: rgba(255, 0, 55, 0.884);
    transform: scale(1.1);
    color: white;
    font-weight: bold;
}


/* slash */

.menu-tab {
    justify-items: center;
    background-color: rgb(7, 1, 65);
}


.menu-tab div {
    margin-top: 20px;
    margin-bottom: 20px;
}


.menu-tab span {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.menu-tab ion-icon {
    margin-right: 10px;
}

.menu-tab span:hover {
    background-color: rgb(149, 190, 243);
    color: black;
    width: 95%;
}

.content {
    flex: 0 0 83%;
    max-width: 100%;
    width: 100%;
    background-color: #f1f1f1;
}

.content.product {
    display: block;
}

.content.category {
    display: none;
}

.content.order {
    display: none;
}

.content.report {
    display: none;
}

.content.account {
    display: none;
}