.app__content .container {
    margin-top: 2em;
}

form label span {
    color: red;
}
input[type=email], input[type=password], input[type=text], input[type=tel] {
    width: 100%;
    display: inline-block;
}
.container .row {
    justify-content: center;
}
.container .row:first-child {
    text-align: center;
}
.form-lft {
    display: inline-block;
}
.action button {
    width: 100%;
    cursor: pointer;
}
.form-group {
    margin-top: 16px;
    margin-bottom: 16px
}