    /* Existing styles... */

    /* Dropdown styles */
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-color: antiquewhite;
    }
    .title{
        font-size: 40px;
        color: black;
        background-color: white;
        padding: 15px;
        margin-bottom: 20px;
    }
    .dropdown {
        background-color: white;
        text-align: center;
        padding: 20px;
    }

    .dropdown-content a {
        font-size: 30px;
        color: #333;
        padding-top: 5px;
        display: block;
        text-align: center;
        text-decoration: none;
        background-color: white;
        margin-bottom: 20px;
        background-color: #f1f1f1;
    }
    .dropdown-content {
        font-size: 15px;
        
    }
    .dropdown-content p{
        text-align: justify;
        font-size: 20px;
        font-family: 'Arial', sans-serif;
        background-color: white;
        margin: 0;
        padding-inline: 50px;
        padding-bottom: 20px;
    }

    .childtitle{
        text-align: center;

    }

    .members{
        text-align: center;
        font-size: 30px;
        background-color: white;
    }
    .member{
        margin-top: 20px;
        display: flex;
    }
    .member img{
        width: 100px;
        height: auto;
    }
    .item{
        overflow: hidden;
        flex: 1 0 25%;
    }
    .members h4{
        background-color: #f1f1f1;
    }
    .grid .wide{
        background-color: white;
    }
    .member2{
        display: flex;
    }
    .member2 img{
        width: 100px;
        height: auto;
    }
    