* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

h1 {
    margin-top: 20px;
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
    background-color: black;
}

.dropdown {
    background-color: white;
    text-align: center;
}

.dropdown-content {
    font-size: 15px;
}

.dropdown-content p {
    text-align: justify;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: 0;
    padding-inline: 50px;
    padding-bottom: 20px;
}

.members {
    text-align: center;
    background-color: white;
    margin-bottom: 20px;
}

.member {
    margin-top: 20px;
    max-width: 100%;
}

.member img {
    width: 100px;
    height: auto;
}

.item {
    overflow: hidden;
    flex: 1 0 25%;
}
.firstline, .secondline{
    display: flex;
    flex-wrap:wrap;
}
span{
    font-size: 25px;
    font-weight: bold;
}