/* Reset some default styles */
* {
	box-sizing: border-box;
}

/* Set a background color for the whole page */
body {
    background-color: #f0f0f0;
}

/* Style the cart-head */
.cart-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-head h1 {
    font-size: 3em;
	color: #112D4E;
	margin-left: 10px;
	margin: 10px;
}

.cart-head__quantity {
	font-size: 1.8rem;
}

/* Style the cart-items row */
hr {
	border: 1px solid  rgba(63, 114, 175);
	margin-bottom: 20px;
	margin-top: 20px;
	opacity: 0.25;
}
.cart-item {
    margin-bottom: 30px;
	/* border-top:1px solid	; */
}

/* Style each cart-item */


.cart-item__image img {
    max-width: 100%;
    height: auto;
}	

.cart-item__image {
	display: flex;
	align-items: center;
	height: 100%;
}

.cart-item__detail {
	display: flex;
	align-items: center;
	height: 100%;
}

.cart-item__detail span {
	font-size: 1.6em;
}

.cart-item__quantity {
	display: flex;
	align-items: center;
	height: 100%;
}

.cart-item__quantity button,
.cart-item__quantity input {
    margin: 0 5px; /* Khoảng cách giữa các phần tử */
    padding: 8px 12px; /* Điều chỉnh kích thước của nút và ô nhập liệu */
    border: 1px solid #ccc; /* Đường viền xung quanh */
    border-radius: 4px; /* Góc bo tròn */
}

.cart-item__quantity button {
    background-color: #003468; /* Màu nền của nút - có thể thay đổi */
    color: #fff; /* Màu chữ của nút */
    cursor: pointer;
}

.cart-item__quantity input {
    width: 50px; /* Độ rộng của ô nhập liệu - có thể thay đổi */
}

/* Hover effect cho nút */
.cart-item__quantity button:hover {
    background-color: #217dbb; /* Màu nền thay đổi khi di chuột qua */
}

.cart-item__price {
	display: flex;
	align-items: center;
	height: 100%;
}

.cart-item__price span{
	font-size: 1.5em;
}

.cart-item__remove {
	display: flex;
	align-items: center;
	height: 100%;
}

.cart-item__remove button {
	border: none;
	background: none;
}



.cart-item__remove img {
	width: 20px;
	height: 20px;
	transition: transform 0.1s ease-in-out;
}

.cart-item__remove button:hover img {
    transform: scale(1.2); 


}

.col.l-8.cart-detail {
	background-color: #fff;
	padding: 40px;
	border-radius: 10px 0 0 10px;
}


/* beign order */

.col.l-4.order {
	padding: 4rem;
}

.order {
    background-color: #F9F7F7;
    border-radius: 0 10px 10px 0;
}

.order__title {
	justify-content: space-between;
    align-items: center;
	text-align: center	;
}

.order__title h1{
    font-size: 3em;
	color: #112D4E;
	margin: 10px;
}

hr {
    border: 1px solid #ccc;
}

.order__detail__quantity {
	font-size: 2em;
}

.order__shipp h2 {
    margin-bottom: 20px;
}

/* Thiết lập giao diện chung cho select */
.order__shipp select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius:2px;
    background-color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none; /* Loại bỏ đường viền khi focus */
}

.order__shipp select:focus {
    border-color: #3F72AF; /* Màu đường viền khi focus */
}

/* Tùy chỉnh giao diện option trong dropdown */
.order__shipp select option {
    background-color: #fff;
    color: #333;
    font-size: 1.3rem;
}



.order__checkout button {
	width: 100%;
    background-color: #003468;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-size: 1.8rem;
	transition: background-color 0.3s ease;
}

.order__checkout button:hover {
    background-color: #265273; 
}

.order__checkout button:active {
    background-color: #DBE2EF;
}

/* responsive */

@media (max-width: 739px) {
	.cart-item__detail span {
		margin: 1rem;
	}	
}


