* {
    box-sizing: border-box;
}

.checkoutPage {
    padding: 20px;
}

.checkoutPage a {
    text-decoration: none;
    font-size: 1.6rem;
}

.checkoutPage .checkout {
    background-color: aqua;
    padding: 40px;
    border-radius: 15px;
    color: #fff;

}

.items .item img {
    padding: 10px;
    height: 80px;
    width: 70px;
}


.checkout form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    border-bottom: 1px solid #7a7fe2;
    padding-bottom: 20px;

}

.checkout label {
    font-size: 1.6rem;
}

.checkout h1 {
    font-size: 3rem;
}

.checkout form h1,
.checkout form .group:nth-child(-n+3){
    grid-column-start: 1;
    grid-column-end: 3;
}
.checkout form input, 
.checkout form select
{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border:none;
    background-color: #6a6fc9;
    color: #fff;
}

 .total .total-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.total .total-inner div{
    font-weight: bold;
    font-size: x-large;
}
.buttonCheckout{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #49D8B9;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
}


.returnCart h1{
    border-top: 1px solid #eee;  
    padding: 20px 0;
}

.returnCart .items .item{
    display: grid;
    grid-template-columns: 80px 1fr  40px 120px;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 0 10px;
    box-shadow: 0 10px 20px #5555;
    border-radius: 20px;
}
.item__info__name {
    font-size: 1.6rem;
    font-weight: bold;
}

.item__info__price {
    font-size: 1.6rem;
    font-weight: 200;
}
.item__quantity,
.item__returnPrice {
    font-size: 1.6rem;
}

.item__returnPrice {
    font-weight: bold;
}