footer {
    background-color: #F9F7F7;
}
footer .social-media .logo img{
    width:35px;
    padding-left: 10px;
}
footer a {
    text-decoration-line: none;
    color: black;
}
footer h6 {
    font-size: 14px;
}
footer {
    background-color: #f8f9fa;
    font-size: 13px;
    font-family: Roboto,sans-serif;
}
footer #footer-logo img {
    width: 150px;
    position: relative;
    padding-top: 25px;
    padding-left: 60px;
}
footer .information .row {
    justify-content: right;
}
footer .footer-slash {
    margin-top: 40px;
    margin-bottom: 15px;
    height: 1px;
    width: 100%;
    background-color: rgb(172, 172, 172);
}