* {
    box-sizing: border-box;
}
header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
    background-color: #F9F7F7; /* Set your desired background color */
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #F9F7F7;
    z-index: 3;
}

.top-header {
    padding: 10px;
}

.row .top-header {
     margin-top: 0px;
}

.top-header .col .l-4 {
    display: flex;
    grid-template-columns: 20px 1fr;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.top-header .col .l-3 {
    display: flex;
    grid-template-columns: 20px 1fr;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.top-header a {
    text-decoration: none;
    font-size: 1.3rem;
}

.user-login {
    list-style-type: none;
    gap: 10px;
    display: flex;
}


.iconCart {
    cursor: pointer;
    position: relative;
}

.top-header .iconCart span {
    text-decoration: none;
    font-size: 1.3rem;
}

.top-header img {
    max-width: 20px;
    height: auto;
}

/* Logo styles */
.logo img {
    max-width: 60px;
    height: auto;
    cursor: pointer;
}

.logo {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}

.bot-header {
    border-top: 1px solid #e9e0e0;
}

.bot-header ul {
    display: flex;
    list-style-type: none;
    font-size: 1.3rem;
}

.bot-header ul a{
    text-decoration: none;
}

.bot-header li {
    margin-right: 40px;
}

.search {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.search input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-left: 20px; 
}

.search__btn {
    position: absolute;
    border: none;
    background: none;
    right: 5px;
    top: 5px; 
}

.search img {
    width: 20px;
    cursor: pointer;
}

.search__form {
    display: flex;
    position: relative;
    width: 75%;
    margin: 5px;
}

@media screen and (max-width: 480px) {

    .top-header a {
        font-size: 1em; 
    }
    .totalQuantity {
        font-size: 10px;
    }
}

