
* {
    box-sizing: border-box;
}

.component-product {
    margin-bottom: 30px;
    background: linear-gradient(to top, #F3F3F3, #FFFFFF);
    border-radius: 10px;
    position: relative;
}



.component-product__image {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    position: relative;
    overflow: hidden;
}


.component-product__image a {
    display: block;
    overflow: hidden;
}


.component-product__image img {
    width: 100%;
}

.component-product__image img:last-child {
    opacity: 0;
    transition: transform 0.5s ease-in;
    position: absolute;
    top: 0;
    left: 0;
}


.component-product__image:hover img:last-child {
    width: 100%;
    opacity: 1;
    transform: scale(1.2);
}

.component-product__title {
   padding: 0px 20px 0 20px;
}

.component-product__title a {
    text-decoration: none;
    display: block;
    max-height: 52px;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
    color: #112D4E;
}

.component-product__price {
    font-size: 16px;
    line-height: 24px;
    color: #3F72AF;
    text-align: center;
    padding-bottom: 20px;
}


.component-product__btnAdd {
    width: 60%;
    background: linear-gradient(to right, #3F72AF, #112D4E);
    color: #F3F3F3;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 1.5rem;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(125%);
    opacity: 0;
}

       

.component-product:hover .component-product__btnAdd {
    transition:  0.5s;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translateY(80%) translateX(-50%);
    z-index: 1;
}



/* end-component_product */


/* begin slider */
.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 1.5em 0;
}

.slider-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider-main {
    position: relative;
    display: flex;
    transition: transform .25s linear;
}

.slider-prev,
.slider-next {
    position:absolute;
    top: 50%;
    width: 4em;
    height: 4em;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
}

.slider-prev{
    left: 10px;
}

.slider-next{
    right: 10px;
}

.slider-dots{
    position: absolute;
    z-index: 5;
    left: 50%;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type:none ;
    transform: translateX(-50%);
}

.slider-dots li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 15px;
    cursor: pointer;
    border: #000;
    transition:background-color .25s linears;
}

.slider-dots li.active {
    background-color: #fff;
}


.slider-item {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    -webkit-user-select: none;
    user-select: none;
}

.slider-item img{
    width: 100%;
}

/* end slider */


/* begin banner  */
.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
}

.banner-item {
    width: 100%;
    height: 100%;
    flex-basis: 100%;
}

.banner-item img {
    width: 100%;
}
/* end banner  */

/* Beign slick */
.slick {
    margin-top: 30px;
}

.slick-title h2 {
    font-size: 2rem;
    color:#112D4E;
}
.slick-content {
    overflow: hidden;
    position: relative;
    margin: 1.5em 0;
}

.slick-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slick-main {
    position: relative;
    display: flex;
    transition: transform .25s linear;
    justify-content: center;
    align-items: center;
}


.slick-item {
    width:180px;    
    height: 100%;
    align-items: center;
    display: block;
    justify-content: space-between;
    
}

.slick-item-inner {
    display: block;
    text-align: center;
    flex: 1 0 0;
}

.slick-item a{
    width:100%;
    align-items: center;
    
}


.slick-item img{
    min-height: 130px;
    max-width: 130px;
    align-items: center;
    justify-content: center;
}


.slick-prev,
.slick-next {
    position:absolute;
    top:50%;
    width: 4em;
    height: 4em;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
    background-color: #fff;
}

.slick-prev{
    left: 10px;
}

.slick-next{
    right: 10px;
}
/* End slick */

/* begin modal cart */

.cart {
    z-index: 20;
    color: #000;
    position: fixed;
    width: 400px;
    max-width: 80vw;
    height: 100vh;
    background-color: #fff;
    top: 0;
    right: -100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    gap: 20px;
    transition: right  1s;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    
}

.cart__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 19;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    content: " ";
    transition: right 0.5s;
}

.cart .buttons .checkout {
    background-color: #112D4E;
    color: #F3F3F3;
    border: none;
    font-size: 1.4rem;
    font-weight: lighter;
}

.cart .cart__title {
    background-color: #112D4E;
    height: 60px;
}

.cart .cart__title h2 {
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    height: 30px;
    margin: 0;
    margin-bottom: 20px;
}

.cart .listCart .item {
    display: grid;
    grid-template-columns: 50px 1fr 70px;
    align-items: center;
    gap: 20px;
    margin-bottom:20px;
}

.cart .listCart img {
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.cart .listCart .item .name {
    font-weight: bold;
    font-size: 1.5rem;
}

.cart .listCart .item .price {
    font-size: 1.4rem;
}

.cart .listCart .item .quantity {
    display: flex;
    justify-content: end;
    align-items: center;
}

.cart .listCart .item .quantity span{
    display: block;
    width: 50px;
    text-align: center;
    font-size: 1.5rem;
}

.cart .listCart {
    padding: 20px;
    overflow: auto;
}

.cart .listCart::-webkit-scrollbar{
    width: 0;
}

.cart .buttons {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.cart .buttons button {
    background-color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}   

.cart .buttons a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.cart .buttons .close {
    background-color: #F9F7F7;
    color: #112D4E;
    font-size: 1.4rem;
    font-weight: lighter;
    border: none;
    justify-content: center;
}


