.app__content .container {
    margin-top: 2em;
}

form label span {
    color: red;
}

input[type=text],
input[type=password] {
    width: 97%;
    display: inline-block;
}

.loginPage .container .row {
    justify-content: center;
}

.loginPage .container .row:first-child {
    text-align: center;
}

.form-lft {
    display: inline-block;
}

.register {
    direction: rtl;
}

.action button {
    width: 100%;
    cursor: pointer;
}

.loginPage {
    background-color: #f1f1f1;
}

.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50vh;
}

.form-group {
    width: 100%;
}

.sign-in {
    background-color: #fff;
    height: 100%;
    position: absolute;
    min-width: 768px;
}

.sign-in form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 40px;
    width: 60%;
}

.form-container.sign-in {
    display: flex;
    flex-direction: row;
}

.sign-in input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.toggle-panel.toggle-right {
    background: linear-gradient(to right, #5c6bc0, #512da8);
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 150px 0 0 100px;
}

.form-login button {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
}

.toggle-panel.toggle-right a {
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid #fff;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    text-decoration: none;
}

.toggle-panel.toggle-right h1 {
    color: #fff;
}

.form-lft {
    display: flex;
    justify-content: start;
}