.app__content .container {
    margin-top: 2em;
}

form label span {
    color: red;
}
input[type=text], input[type=password] {
    width: 97%;
    display: inline-block;
}
.loginPage .container .row {
    justify-content: center;
}
.loginPage .container .row:first-child {
    text-align: center;
}
.form-lft {
    display: inline-block;
}
.register {
    direction: rtl;
}
.action button {
    width: 100%;
    cursor: pointer;
}
.form-group {
    margin-top: 16px;
    margin-bottom: 16px
}