* {
    margin: 0;
    box-sizing: border-box;
}

.order-historyPage {
    background-color:#fff ;
    margin-top: 2em;
}

.menu-profile {
    background: #F9F7F7;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.menu-profile__info{
    padding:15px 15px 25px 10px;
    border-bottom:1px solid #f7f7f7;
}

.menu-profile__info a {
    text-decoration: none;
    color: #999;
}

.menu-profile__info a:hover {
    text-decoration: none;
    color:#000 ;
}

.profile-avatar{
    width:50px;
    height:50px;
    overflow:hidden;
    border-radius:50%;
    float:left;
    margin-right:10px;
    vertical-align: middle;
    align-items: center;
}

.profile-avatar img{
    max-width: 100%;
}

.profile-name {
    font-size: 16px;
}

.menu-profile__list{
    background-color: #fff;
    width: 100%;
    float: left;
    border: 1px solid #ddd;
    border-radius: 5px;

}

.menu-profile__item{
    padding:10px 20px;
    display:block;
    position:relative;
  }
  .menu-profile__item.active{
    background:#f7f7f7;
    color:#ff6600;
    font-weight: 700;
  }


    .menu-link {
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 5em;
    }
    .account-information {
        padding-left: 6.5em;
    }
    .info-left {
        background-color: #f5f4f4;
    }

.item-account {
    border-top: 1px solid #dbdbdb;
}
.item-account a {
    text-decoration: none;
    color: #333;
}
.item-account a.active {
    color: #da2032 !important;
}
.item-account a:hover {
    color: #da2032 !important;
}
.item-account {
    padding: 6px 5px;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.title-h2 {
    max-height: 2.25em;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
    display: block;
    color: #212529;
}

.title-h2 h2:before{
    content: '';
    width: 25%;
    background: #da2032;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 1;
}

/* slash */

.content-profile {
    max-width: 100%px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f1f1f1;
}

.content_order_title {
    background-color: #fff;
    margin: 10px;
    border-left: 10px solid rgb(199, 199, 11);
    width: 98%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.content_order_title h2 {
    margin-left: 10px;
    color: rgb(51, 108, 214);
}

.content_order_form {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.content_order_list {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}


.order_table {
    border-collapse: collapse;
    margin: 25px 0px;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.order_table {
    border-collapse: collapse;
    margin: 25px 0px;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.order_table thead tr {
    background-color: #da2032;
    color: #fff;
    font-weight: bold;
    height: 50px;

}

.order_table th,
.order_table td {
    padding: 8px;
}

.order_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.order_table tbody tr:last-of-type {
    border-bottom: 2px solid #03acca;
}

.order_table tbody tr:hover {
    background-color: #ddddddec;
}

.order_table tbody tr button {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(73, 73, 235);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.order_table tbody tr button:hover {
    background-color: rgba(86, 139, 236, 0.884);
    transform: scale(1.1);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.hide_detail {
    display: none;
}