* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

li,ol,ul {
    list-style: none;   
}
li:hover {
    cursor: pointer;;
}

a {
    color: #000;
    text-decoration: none;
    transition: all .3s linear
}
/* breadcrumb */
.breadcrumb {
    font-size: 1.4rem;
    margin: 15px ;
    text-align: center;
}

.breadcrumb a {
    text-decoration: none;
    color: #a0a0a0;
}

.breadcrumb a:hover {
    text-decoration: underline;
    color: black;
}

.breadcrumb span {
    margin: 0 5px;
    color: #666;
}

.breadcrumb .active{
    color: black;
}
/* breadcrumb */
a:active,a:focus,a:hover {
    text-decoration: none
}

.prodcutPage {
    margin-top: 15px;
}
/* filter */
.product-filter-acrrodion__toggle {
    display: none;
    padding: 10px 30px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    cursor: pointer
}

@media screen and (max-width: 768px) {
    .product-filter-acrrodion__toggle {
        display:block
    }
}

.product-filter-acrrodion__toggle::before {
    content: "\f0b0"
}

.product-filter-acrrodion__toggle::after {
    content: "\f0d7"
}

@media screen and (max-width: 768px) {
    .product-filter-acrrodion__dropdown {
        display:none
    }
}

.product-filter {
    margin-bottom: 35px;
}

.product-filter__deleteAll {
    font-size: 20px;
    float: right;
}

.search__apply {
    border: none;
    background-color: #112D4E;
    color: #F9F7F7;
    padding: 12px;
    font-size: 2em;
    border-radius: 10px;
    text-align:center;
    margin-left: 20px;
}

.search__apply:hover {
    background-color: #3F72AF;
    padding: 15px;
}



.product-filter__title {
    font-size: 1.8rem;
    line-height: 26px;
    font-weight: 600;
    color: #142d4c;
    text-transform: uppercase;
    border-top: 1px solid #DBE2EF;
}

@media screen and (max-width: 768px) {
    .product-filter__title {
        font-size:5px;
        line-height: 24px
    }
}

.product-filter__title span {
    display: inline-block;
    padding: 10px 0;
    position: relative
}

.product-filter__title span::before {
    content: "";
    border-top: 3px solid #3F72AF;
    position: absolute;
    top: -2px;
    left: 0;
    right: 0
}

.product-filter__list {
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto
}

.product-filter__list::-webkit-scrollbar {
    width: 5px;
    border-radius: 2.5px
}

.product-filter__list::-webkit-scrollbar-track {
    background: #fff
}

.product-filter__list::-webkit-scrollbar-thumb {
    background: #DBE2EF;
}

.product-filter__list::-webkit-scrollbar-thumb:hover {
    background: #3F72AF;
}

.product-filter__list li {
    margin: 15px 0;
}

.product-filter__list li.active a {
    color: #000;
}

.product-filter__list a {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 26px;
    color: #999;
    font-weight: 500
}

@media screen and (max-width: 768px) {
    .product-filter__list a {
        font-size:1.6rem;
        line-height: 24px;
    }
}

.product-filter__list a:hover {
    color: #000;
}

.product-filter__inputPrice {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .product-filter__inputPrice {
        justify-content:space-between
    }
}

.product-filter__inputPrice--text {
    font-size: 18px;
    line-height: 26px;
    color: #999;
    margin-right: 5px;
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {
    .product-filter__inputPrice--text {
        font-size:16px;
        line-height: 24px;
    }
}

.product-filter__inputPrice--input {
    margin-right: 5px;
}

.product-filter__inputPrice--input input {
    width: 100%;
    height: 35px;
    padding-left: 5px;
    font-size: 18px;
    line-height: 26px;
    color: #999;
    border: solid 1px #DBE2EF;
}

.product-filter__inputPrice--wrap {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .product-filter__inputPrice--wrap {
        max-width:130px;
    }
}

.product-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    margin-bottom: 15px;
    border-top: 1px solid #DBE2EF;
}

.product-head__title {
    position: relative;
}

.product-head__title .h2,.product-head__title h2 {
    padding: 0;
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    color: #142d4c;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .product-head__title .h2,.product-head__title h2 {
        font-size:25px;
        line-height: 33px;
    }
}

.product-head__title::before {
    content: "";
    border-top: 3px solid #3F72AF;
    position: absolute;
    top: -17px;
    left: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .product-head__title::before {
        top:-20px
    }
}

.product-head__tools select {
    min-width: 170px;
    padding: 10px;
    border: solid 1px #DBE2EF;
}

.product-head__title h1 {
    padding: 0;
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    color: #142d4c;
    text-transform: uppercase;
}

/* beign-component_product */
.component-product {
    margin-bottom: 30px;
    background: linear-gradient(to top, #F3F3F3, #FFFFFF);
    border-radius: 10px;
    position: relative;
}



.component-product__image {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    position: relative;
    overflow: hidden;
}


.component-product__image a {
    display: block;
    overflow: hidden;
}


.component-product__image img {
    width: 100%;
}

.component-product__image img:last-child {
    background: linear-gradient(to top, #F3F3F3, #FFFFFF);
    opacity: 0;
    transition: transform 0.5s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F3F3F3;
}


.component-product__image:hover img:last-child {
    width: 100%;
    opacity: 1;
    transform: scale(1.2);
}

.component-product__title {
   padding: 0px 20px 0 20px;
}

.component-product__title a {
    text-decoration: none;
    display: block;
    max-height: 52px;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
    color: #112D4E;
}

.component-product__price {
    font-size: 16px;
    line-height: 24px;
    color: #3F72AF;
    text-align: center;
    padding-bottom: 20px;
}


.component-product__btnAdd {
    width: 100%;
    background-color: rgba(17, 45, 78, 0.5);
    color: #F3F3F3;
    border: none;
    font-size: 1.5rem;
    padding: 1.5rem;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(125%);
    opacity: 0;
}

       

.component-product:hover .component-product__btnAdd {
    transition:  0.5s;
    opacity: 1;
    top: 53%;
    left: 50%;
    transform: translateY(80%) translateX(-50%);
    z-index: 1;
}



/* end-component_product */

/* begin modal cart */

.cart {
    z-index: 20;
    color: #000;
    position: fixed;
    width: 400px;
    max-width: 80vw;
    height: 100vh;
    background-color: #fff;
    top: 0;
    right: -100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    gap: 20px;
    transition: right  1s;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    
}

 .cart__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 19;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    content: " ";
    transition: right 0.5s;
}

.cart .buttons .checkout {
    background-color: #112D4E;
    color: #F3F3F3;
    border: none;
    font-size: 1.4rem;
    font-weight: lighter;
}

.cart .cart__title {
    background-color: #112D4E;
    height: 60px;
}

.cart .cart__title h2 {
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    height: 30px;
    margin: 0;
    margin-bottom: 20px;
}

.cart .listCart .item {
    display: grid;
    grid-template-columns: 50px 1fr 70px;
    align-items: center;
    gap: 20px;
    margin-bottom:20px;
}

.cart .listCart img {
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.cart .listCart .item .name {
    font-weight: bold;
    font-size: 1.5rem;
}

.cart .listCart .item .price {
    font-size: 1.4rem;
}

.cart .listCart .item .quantity {
    display: flex;
    justify-content: end;
    align-items: center;
}

.cart .listCart .item .quantity span{
    display: block;
    width: 50px;
    text-align: center;
    font-size: 1.5rem;
}

.cart .listCart {
    padding: 20px;
    overflow: auto;
}

.cart .listCart::-webkit-scrollbar{
    width: 0;
}

.cart .buttons {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.cart .buttons button {
    background-color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}   

.cart .buttons a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.cart .buttons .close {
    background-color: #F9F7F7;
    color: #112D4E;
    font-size: 1.4rem;
    font-weight: lighter;
    border: none;
    justify-content: center;
}


