* {
    box-sizing: border-box;
    margin: 0px;
}

html {
    font-size: 10px;
}

li,ol,ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    color: #000;
    text-decoration: none;
    transition: all .3s linear
}

a:active,a:focus,a:hover {
    text-decoration: none
}

.prodcutPage {
    margin-top: 15px;
}
/* filter */
.product-filter-acrrodion__toggle {
    display: none;
    padding: 10px 30px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    cursor: pointer
}

@media screen and (max-width: 768px) {
    .product-filter-acrrodion__toggle {
        display:block
    }
}

.product-filter-acrrodion__toggle::before {
    content: "\f0b0"
}

.product-filter-acrrodion__toggle::after {
    content: "\f0d7"
}

@media screen and (max-width: 768px) {
    .product-filter-acrrodion__dropdown {
        display:none
    }
}

.product-filter {
    margin-bottom: 35px;
}

.product-filter__title {
    font-size: 1.8rem;
    line-height: 26px;
    font-weight: 600;
    color: #142d4c;
    text-transform: uppercase;
    border-top: 1px solid #DBE2EF;
}

@media screen and (max-width: 768px) {
    .product-filter__title {
        font-size:5px;
        line-height: 24px
    }
}

.product-filter__title span {
    display: inline-block;
    padding: 10px 0;
    position: relative
}

.product-filter__title span::before {
    content: "";
    border-top: 3px solid #3F72AF;
    position: absolute;
    top: -2px;
    left: 0;
    right: 0
}

.product-filter__list {
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto
}

.product-filter__list::-webkit-scrollbar {
    width: 5px;
    border-radius: 2.5px
}

.product-filter__list::-webkit-scrollbar-track {
    background: #fff
}

.product-filter__list::-webkit-scrollbar-thumb {
    background: #DBE2EF;
}

.product-filter__list::-webkit-scrollbar-thumb:hover {
    background: #3F72AF;
}

.product-filter__list li {
    margin: 15px 0;
}

.product-filter__list li.active a {
    color: #000;
}

.product-filter__list a {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 26px;
    color: #999;
    font-weight: 500
}

@media screen and (max-width: 768px) {
    .product-filter__list a {
        font-size:1.6rem;
        line-height: 24px;
    }
}

.product-filter__list a:hover {
    color: #000;
}

.product-filter__inputPrice {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .product-filter__inputPrice {
        justify-content:space-between
    }
}

.product-filter__inputPrice--text {
    font-size: 18px;
    line-height: 26px;
    color: #999;
    margin-right: 5px;
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {
    .product-filter__inputPrice--text {
        font-size:16px;
        line-height: 24px;
    }
}

.product-filter__inputPrice--input {
    margin-right: 5px;
}

.product-filter__inputPrice--input input {
    width: 100%;
    height: 35px;
    padding-left: 5px;
    font-size: 18px;
    line-height: 26px;
    color: #999;
    border: solid 1px #DBE2EF;
}

.product-filter__inputPrice--wrap {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .product-filter__inputPrice--wrap {
        max-width:130px;
    }
}

.product-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    margin-bottom: 15px;
    border-top: 1px solid #DBE2EF;
}

.product-head__title {
    position: relative;
}

.product-head__title .h2,.product-head__title h2 {
    padding: 0;
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    color: #142d4c;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .product-head__title .h2,.product-head__title h2 {
        font-size:25px;
        line-height: 33px;
    }
}

.product-head__title::before {
    content: "";
    border-top: 3px solid #3F72AF;
    position: absolute;
    top: -17px;
    left: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .product-head__title::before {
        top:-20px
    }
}

.product-head__tools select {
    min-width: 170px;
    padding: 10px;
    border: solid 1px #DBE2EF;
}

.product-head__title h1 {
    padding: 0;
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    color: #142d4c;
    text-transform: uppercase;
}

/* beign-component_product */
.component-product {
    margin-bottom: 30px;
    background: linear-gradient(to top, #F3F3F3, #FFFFFF);
    border-radius: 10px;
}


.component-product__image {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    position: relative;
    overflow: hidden;
}


.component-product__image a {
    display: block;
    overflow: hidden;
}


.component-product__image img {
    width: 100%;
}

.component-product__image img:last-child {
    opacity: 0;
    transition: transform 0.5s ease-in;
    position: absolute;
    top: 0;
    left: 0;
}


.component-product__image:hover img:last-child {
    width: 100%;
    opacity: 1;
    transform: scale(1.2);
}

.component-product__title {
   padding: 0px 20px 0 20px;
}

.component-product__title a {
    text-decoration: none;
    display: block;
    max-height: 52px;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
    color: #112D4E;
}

.component-product__price {
    font-size: 16px;
    line-height: 24px;
    color: #3F72AF;
    text-align: center;
    padding-bottom: 20px;
}


/* end-component_product */


/*end filter */
