    <div class="modal-cart">
        <div class="cart__overlay"></div>
        <div class="cart">
                <div class="cart__title">
                    <h2>CART</h2>
                    
                </div>

                <div class="listCart">

                </div>

                <div class="buttons">
                    <button class="close">
                        EDIT ORDER
                        <img src="/image/edit.png" alt="" style="margin-left: 10px">
                    </button>
                    <button class="checkout">
                        <a href="/cart/checkout">CHECKOUT</a>
                    </button>
                </div>
        </div>
    </div>