<footer>
        <div class="footer-slash"></div>
        <section class="information">
            <div class="row no-gutters">
                <div class="col l-3 m-0 c-0">
                    <h6>© Công Ty Cổ Phần Vàng Bạc Đá Quý</h6>
                    <div>
                        <a href="/">
                            <img src="/image/logo.png" alt="Logo" style="width:100px">
                        </a>
                    </div>
                </div>
                <div class="col l-2 m-0 c-3">
                    <h6>Về chúng tôi</h6>
                    <p><a href="#!">Thành lập</a></p>
                    <p><a href="#!">Mục tiêu</a></p>
                </div>
                <div class="col l-3 m-3 c-3">
                    <h6>Dịch vụ khách hàng</h6>
                    <p><a href="#!">Hướng dẫn đo size trang sức</a></p>
                    <p><a href="#!">Mua hàng trả góp</a></p>
                    <p><a href="#!">Hướng dẫn mua hàng và thanh toán</a></p>
                    <p><a href="#!">Chính sách hoàn tiền</a></p>
                </div>
                <div class="col l-3 m-6 c-6">
                    <h6>Kết nối với chúng tôi</h6>
                    <div class="social-media">
                        <a href="#" class="logo">
                            <img src="/image/facebook.svg" alt="Facebook logo">
                        </a>
                        <a href="#" class="logo">
                            <img src="/image/youtube.svg" alt="Youtube logo">
                        </a>
                        <a href="#" class="logo">
                            <img src="/image/zalo.svg" alt="Zalo logo">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </footer>