<header>
    <div class="grid wide">
        <div class="row top-header">
            <div class="col l-5 m- c-0">
                <div class="row">
                    <div class="col l-4">
                        <img src="/image/header/team.png" alt="">
                        <a href="/about-us">Về chúng tôi</a>
                    </div>
                    <div class="col l-4">
                        <img src="/image/header/location.png" alt="">
                        <a href="https://www.google.com/maps/d/viewer?mid=13Q5KQZBZn0_5pzIyWvrcA55p6Sk&hl=en&ll=15.331941612344691%2C107.0102315&z=6">Cửa hàng</a>
                    </div>
                    <div class="col l-4">
                        <img src="/image/header/headphones.png" alt="">
                        <a href="">1900 1000</a>
                    </div>
                </div>
            </div>
            <div class="col l-2 m-5 c-4">
               <a href="/">
                 <div class="logo">
                    <img src="/image/logo.png" alt="">
                </div>
               </a>
            </div>
            <div class="col l-5 m-7 c-8">
                <div class="row">
                    <div class="col l-2"></div>
                    <div class="col l-6">
                       {{#if user}}
                            <ul class="user-login">
                                <li><a href="/account">Chào: {{user.fullname}}</a></li>
                                <li><a href="/logout">Thoát</a></li>
                            </ul> 
                        {{/if}}
                        {{#unless user}}
                            <img src="/image/header/user.png" alt="">
                            <a href="/login">Tài khoản</a>
                        {{/unless}}
                    </div>
                    <div class="col l-4 iconCart">
                        <a href="/cart">Giỏ hàng</a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="row bot-header">
            <div class="col l-7 c-0">
            </div>
            <div class="col l-5 c-12">
                <div class="search">
                    <form action="/search" class="search__form"> 
                        <input type="text" name="keyword" required placeholder="Tìm kiếm nhanh">
                     <button type="submit" class="search__btn"><img src="/image/header/search.png" alt=""></button>
                    </form>
                    
                </div>
            </div>
        </nav>
    </div>

</header>


