
    <header>
        <div class="container">
            <div class="header-top">
                <div class="row no-gutters">
                    <div class="col l-4">
                        <ul>
                            <li><a href="/about-us">Về cửa hàng</a></li>
                            <li><a href="tel:+1800">1800</a></li>
                        </ul>
                    </div>
                    <div class="col l-1" id="header-brand">
                        <a href="/">
                            <img src="/image/logo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="col l-4" id="header-right">
                        <ul>
                            <li><a href="/cart">Giỏ hàng</a></li>
                            {{#if user}}
                                <li><a href="/logout">Thoát</a></li>
                                <li><a href="/account">Chào: {{user.fullname}}</a></li>
                                
                            {{/if}}
                            {{#unless user}}
                            <li><a href="/login">Tài khoản</a></li>
                            {{/unless}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="navbar">
            <div class="header-menu">
                <div class="row no-gutters">
                    <div class="col l-8">
                        <ul>
                            <li><a href="#">Trang sức</a></li>
                            <li><a href="#">Quà tặng</a></li>
                            <li><a href="#">Kim cương viên</a></li>
                            <li><a href="#">Trang sức ngọc trai</a></li>
                            <li><a href="#">Thương hiệu</a></li>
                        </ul>
                    </div>
                    <div class="col l-3">
                        <div class="search-block">
                            <form action="/search">
                                <input type="text" name="keyword" value="" id="search_input" placeholder="Tìm kiếm nhanh" autocomplete="off" required>
                                <button type="submit">Tìm kiếm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
