<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{style}}">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/base.css">
    {{#unless isAdmin}}
    <script src="/js/stick-navbar.js"></script>
    <script src="/js/cart.js"></script>
    <link rel="stylesheet" href="/css/modal-cart.css">
    {{/unless}}
</head>
<body>
    <div class="app">

        {{#unless isAdmin}}
            {{> header }}
        {{/unless}}
        
        <div class="app__content">
            {{{body}}}
            {{#unless isAdmin}}
            <div class="modal-cart">
                <div class="cart__overlay" style="display: none;"></div>
                <div class="cart" style="right: -100%;">
                    <div class="cart__title">
                        <h2>CART</h2>
                    </div>
                    <div class="listCart">
                    </div>
                    <div class="buttons">
                        <button class="close">
                            EDIT ORDER
                            <img src="/image/edit.png" alt="" style="margin-left: 10px">
                        </button>
                        <button class="checkout">
                            <a href="/cart/checkout">CHECKOUT</a>
                        </button>
                    </div>
                </div>
            </div>
            {{/unless}}
        </div>

        {{#unless isAdmin}}
            {{> footer }}
        {{/unless}}

    </div>

    <script src="{{script}}"></script>
    
</body>
</html>