
<div class="order-historyPage">
        <div class="grid wide container">
            
            <div class="row">
                <!-- - Begin  -->
                <div class="col l-3">
                    <div class="menu-profile">
                        <div class="menu-profile__info">
                            <div class="profile-avatar">
                                <img src="https://hasaki.vn/images/graphics/account-full.svg" alt="">
                            </div>
                            <div class="profile-name">
                                <strong>Lương Quốc Toàn</strong>
                            </div>
                            <a href="">Chỉnh sửa tài khoản</a>
                        </div>
                        <div class="menu-profile__list">
                            <div class="item-account">
                                <a href="/user.html" >Thông tin tài khoản</a>
                            </div>
                            <div class="item-account">
                                <a href="/order.html" class="active">Đơn hàng của tôi</a>
                            </div>
                            <div class="item-account">
                                <a href="#">Giỏ hàng yêu thích</a>
                            </div>
                            <div class="item-account">
                                <a href="#">Hỏi đáp</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-9">
                    <div class="content-profile">
                        <div class="title-h2">
                            <h2>Lịch sử đơn hàng</h2>
                        </div>

                    </div>
                </div>
                <!-- - End  -->
            </div>
        </div>
    </div>

